
body {
  background-color: #ebebeb;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #f5f1f1;
  background-color:black;
}
